footer {
    margin-top: 75px;
    background: #F9FBFE;
    padding-left: 144px;
    padding-top: 75px;
    padding-bottom: 75px;
    font-family:'Elna';
font-size: 20px;
line-height: 28px;
/* or 140% */


/* Money Grey/Grey 800 */

color: #282F45;
}